<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asset 파일 업로드</title>
  </head>
  <body>
    <h1>이미지 업로드</h1>
    <form action="/upload/images" method="post" enctype="multipart/form-data">
      <input type="file" name="images" multiple />
      <input type="submit" value="Upload to Images" />
    </form>
    <h1>아이콘 업로드</h1>
    <form action="/upload/icons" method="post" enctype="multipart/form-data">
      <input type="file" name="icons" multiple />
      <input type="submit" value="Upload to Icons" />
    </form>

    <p>
      <a href="/uploaded-images">업로드된 사진 확인하기</a>
    </p>
  </body>
</html>
